* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.marquee-container {
  width: 100vw;
  position: absolute;
  height: 50px;
  background-color: #394032;
}

.marquee-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  direction: "left";
  height: 50px;
  animation: slide 42s linear infinite;
  transform: translateX(100%);
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-item {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.compWrapper {
  align-items: flex-start;
}

.page-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 70px;
  width: 65%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.compare-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
  width: 100%;
  padding: 0.6rem 1rem;
}

.compareAllBtn {
  border-left: solid 1px #394032;
  padding-left: 0.6rem;
  cursor: pointer;
}

.listOfSymbols {
  width: 90%;
}

.compareAllBtn:hover {
  font-weight: bold;
}

.h1-wrapper {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #394032;
}

.input-group {
  margin-top: 1rem;
  height: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.btn {
  border: black 1px solid;
  background-color: white;
  color: gray;
}

.search-results {
  display: flex;
  justify-content: center;
}

li img {
  height: 30px;
}

li {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid gainsboro 1px;
  border-top: solid gainsboro 1px;
  align-items: center;
}

.compare {
  display: inline-block;
  background-color: #0d6efd;
  border: none;
  color: white;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.list-price {
  color: black;
  font-size: 20px;
}

.comp-name {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  font-weight: bold;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

ul {
  position: relative;
  width: 90%;
  height: 100%;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.logo img {
  height: 80px;
}

.header {
  margin-bottom: 2rem;
}

.name {
  margin-inline-start: 2rem;
  font-weight: bold;
  font-size: 30px;
}

.price {
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: bold;
}

.discription {
  font-size: 20px;
}

.char {
  margin: 2rem 1rem 0 1rem;
}

.green {
  color: #00c736;
}

.red {
  color: red;
}

.compareBtn {
  background-color: tomato;
  color: black;
  border: none;
  margin: 0 3px;
}

.yellow {
  background-color: yellow;
}
